<!-- Шаблон для отображения данных по подкодам -->

<template name="podkodData">


 <div class = "podstyle">

  <p> для клиента  <span class="clientName">{{client}} </span> выдан подкод:</p>
  <h3>{{podkodFin}}</h3>  


  <a  href="/">Получить еще один подкод</a>

  </div>
<!-- <ul>
    <thead>
      <tr>
        <td>Филиал</td>
        <td>Наименование клиента</td>
        <td>№ Договора</td>
        <td>Подкод</td>

      </tr>

    </thead>
    <tbody>
      {{#each foo}}
    
        <tr>
        <td> {{filial}}</td>
        
        <td> {{client}}</td>

        <td> {{dog}}</td>
        <td>{{podkodFin}}</td>
        </tr>

      {{/each}}
      </tbody>
    </ul>
 -->

</template>

